		body{
            margin:0px;
            width:1350px;
            min-width:1024px;
            max-width:100%;
            height:100%;
        }

		.a{
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			/*background-position: center;*/
		}
		.b{
			float: left;
            margin-right: 8px;
            margin-top: 7px;
            margin-left: 10px;
            width: 30px;
            height: 32px;
			/*border: 1px solid red;*/
			cursor: wait;
		}
		.c{
			font-family:宋体;
			font-size: 30px;
			float: left;
			margin-top: 5px;
			color: white;
			/*border: 1px solid red;*/
			cursor: wait;
		}
		.d:hover{
			/*text-decoration-line: underline;*/
			color: white;
			border-bottom: 1px solid white;
			padding-bottom: 7px;
		}
		.d{
			color: white;
			float: left;
			margin-top: 10px;
			margin-left: 25px;
			font-size: 16px;
			text-decoration: none;
		}
		.e{
			color: white;
			float: left;
			margin-top: 2px;
			margin-left: 30px;
			font-size: 26px;
			text-decoration: none;
			padding-left: 0px;
			list-style: none;
			cursor: pointer;
		}
		.f{
			width: 0px;
			height: 20px;
			float: left;
			margin-left: 25px;
			background-color: white;
			border: 1px solid white;
		}
		.s:hover{
			background-color: white;
			color: black;
		}
		.s{
			color: white;
			float: left;
			/*margin-top: 1px;*/
			/*margin-left: 0px;*/
			font-size: 18px;
			text-decoration: none;
			/*padding-left: 0px;*/
			list-style: none;
		}
		li:hover .id{
            display: block;
        }
        .id{
            display: none;
        }
        /*.h:hover{
        	cursor：pointer;
        }*/
        .i:hover{
        	background-color: white;
        	/*cursor：pointer;*/
        	color: grey;
        }
        .h{
		    border-radius: 3px;
		    padding: 8px 15px;
		    background-color: #ec414d;
		    float: right;
		    margin-right: 10px;
		    border: 1px solid #ec414d;
		    color: white;
		    cursor: pointer;
        }
        .i{
        	border-radius: 3px;
		    padding: 8px 15px;
		    float: right;
		    margin-right: 10px;
		    border: 1px solid rgba(255,255,255,.8);
		    color: #fff;
		    background: 0;
		    cursor: pointer;
            transition: 1s;
        }
        .j{
        	font-size: 44px;
        	font-weight: 200;
        	color: #fff;
        	position: absolute;
        	top: 0;
        	left: 0;
        	word-break:keep-all;
            white-space:nowrap;
        	overflow:hidden;
        }
        .k{
        	position: absolute;
        	top: 0;
        	left: 0;
        	padding: 0 10px;
        	width: 520px;
        	height: 40px;
        	background-color: white;
        	border-radius: 2px;
        	border: 1px solid white;
        	z-index: 1;
        }
        .l{
        	position: absolute;
        	top: 5px;
        	right: 0;
        	width: 30px;
        	height: 30px;
        	display: block;
        	background: url(./go.png);
        	z-index: 2;
        	/*border: 1px solid red;*/
        }
        .z{
        	/*border: 1px solid purple;*/
        	height: 50px;
        	width: 540px;
        	position: absolute;
        	top: 80px;
        	left: -5px;
        }
        .y{
        	/*border: 1px solid purple;*/
        	width: 540px;
        	height: 200px;
        	position: absolute;
        	top: 33%;
        	left: 30%;
        }
        .n{
        	position: absolute;
        	top: 130px;
        	left: 20%;
        	color:white; 
        }
        .o{
        	color: white;
        	font-size: 16px;
        	text-decoration: none;
        }
        .o:hover{
        	border-bottom: 1px solid white;
        	padding-bottom: 3px;
        }
